__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd

.DS_Store
Thumbs.db
.idea/
.vscode/

.streamlit/*
!.streamlit/config.toml
.venv/
venv/
env/

data/input/**
!data/input/.gitkeep
data/output/**
!data/output/.gitkeep
data/cache/**
!data/cache/.gitkeep

outputs/muscle_visualized/**
!outputs/muscle_visualized/.gitkeep

*.log
*.zip
*.mp4
*.avi
*.mov
*.mkv
*.webm
