__pycache__/
*.py[cod]
*.pyo
*.pyd

.DS_Store
Thumbs.db

.streamlit/
.venv/
venv/
env/

data/output/**
!data/output/.gitkeep
data/cache/**
!data/cache/.gitkeep
data/input/**
!data/input/.gitkeep

*.log
